.container {
    width: 100%;
    height: 100%;
	display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50pt 1fr;
}
/* 
.item{
    border: 5px solid red;
} */

#mainTitle{
    background-color: rgb(230, 230, 230);
}

#danger{
    font-weight: bold;
    color:rgb(255, 151, 168)
}

#mt{
    font-weight: bolder;
    font-size:20pt
}

#btn{
    width:90%
}

#message{
    height: 90%;
    width: 90%;
}


